body
{
    font-family: Arial, sans-serif;
    background-color: skyblue;
    box-shadow: auto 0 0 0 1000px rgba(0, 0, 0, 0.5);
    color: black;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
video {
    width: 500px;
    height: 300px;
    margin-top: 50px;
    
}